services:
  - type: web
    name: teremok-bot
    env: docker
    plan: free
    envVars:
      - key: BOT_TOKEN
        sync: false
      - key: WEB_APP_URL
        sync: false
      - key: ADMIN_ID
        sync: false
      - key: HOST
        value: 0.0.0.0
      - key: PORT
        value: 8000
